/* Analysis.css */
.step-progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 0;
    border-bottom: 2px solid #ddd;
  }
  
  .step-item {
    padding: 5px;
    border-bottom: 2px solid #ddd;
    cursor: pointer;
    text-align: center;
    flex: 1;
    font-size: 12px;
    transition: color 0.3s, border-bottom 0.3s;
  }
  
  .current-step {
    border-bottom: 2px solid #007bff;
    font-weight: bold;
    color: #007bff;
  }
  
  .navigation-buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
  }
  
  .previous-next-button {
    padding: 8px 12px;
    border: none;
    background-color: #2c7fb8; /* Color for Previous and Next buttons */
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .previous-next-button:hover {
    background-color: #1b5e8b; /* Darker shade on hover */
  }
  
  .skip-button {
    padding: 8px 12px;
    border: none;
    background-color: #980043; /* Color for Skip button */
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .skip-button:hover {
    background-color: #6b002e; /* Darker shade on hover */
  }
  