/* Style for the input form container */
.cluster-form-container {
    max-width: 400px;
    margin: auto;
}

/* Style for the 'Add' button */
.cluster-add-button {
    background-color: #fdae61; /* Use the specified color */
    color: white;
    border: none;
    padding: 4px 8px; /* Smaller padding for a smaller button */
    margin-left: 6px; /* Small space between the input and button */
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px; /* Smaller font size */
    height: 30px; /* Ensures consistent height with the input field */
    vertical-align: middle; /* Aligns button with the middle of the input field */
}

.cluster-add-button:disabled {
    background-color: #ccc; /* Disabled color */
    cursor: not-allowed;
}

/* Style for the resolution input group to align input and button */
.cluster-resolution-input-group {
    display: inline-flex; /* Inline-flex to keep input and button on the same line */
    align-items: center; /* Aligns items to the center */
}

/* Style for the resolution input field */
.cluster-resolution-input {
    flex-grow: 1; /* Allow the input to take remaining space */
    padding: 4px;
    font-size: 12px;
    height: 30px; /* Ensures consistent height with the button */
}

/* Style for the resolution chips */
.cluster-chip {
    display: inline-block;
    background-color: #e0e0e0;
    border-radius: 12px;
    padding: 4px 8px;
    margin: 2px;
    font-size: 12px;
}

/* Style for the 'Next' button */
.cluster-next-button {
    background-color: #800080; /* Set purple color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.cluster-next-button:hover {
    background-color: #5a005a; /* Darker purple on hover */
}
