/* DataImport.css */
body {
  font-family: Arial, sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.open-modal-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-bottom: 20px;
}

.open-modal-button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Further reduced width */
  border-radius: 8px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.form-container h1 {
  margin-bottom: 10px;
}

.form-container p {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: -10px;
  margin-bottom: 10px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  border: 1px solid #ccc; /* Add border to the cards container */
  padding: 20px; /* Add padding inside the border */
  border-radius: 8px; /* Add border radius for rounded corners */
  width: 100%;
}

.card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: calc(20% - 20px); /* Adjust width for smaller cards */
  box-sizing: border-box;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.card-header {
  background-color: #f7f7f7;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-size: 14px; /* Adjusted font size */
  font-weight: bold;
  text-align: center;
}

.card img {
  width: 60px; /* Smaller image */
  height: 60px; /* Set height to keep it square */
  object-fit: cover;
  margin: 10px auto; /* Center the image */
}

.card-body {
  padding: 10px; /* Reduced padding */
  flex: 1;
  overflow: hidden; /* Hide overflow */
}

.card-body p {
  margin: 0 0 5px;
  font-size: 12px; /* Adjusted font size */
}

.card-body .description {
  max-height: 50px; /* Fixed height for description */
  overflow-y: auto; /* Scroll if content exceeds height */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #888 #ccc; /* Firefox */
}

.card-body .description::-webkit-scrollbar {
  width: 8px;
}

.card-body .description::-webkit-scrollbar-track {
  background: #ccc;
}

.card-body .description::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.card-body .start-button {
  background-color: #28a745;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px; /* Adjusted font size */
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 10px; /* Added margin for spacing */
}

.card-body .start-button:hover {
  background-color: #218838;
  transform: scale(1.05);
}

hr {
  margin: 5px 0; /* Add margin to the hr */
}

.iframe-container {
  margin-top: 20px;
}

.iframe-container iframe {
  width: 100%;
  height: 500px;
  border: none;
}

/* React Tabs Overrides */
.react-tabs__tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  display: flex;
  justify-content: flex-start;
}

.react-tabs__tab {
  list-style: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
  border-bottom: none;
  background: linear-gradient(135deg, #e0e0e0, #d0d0d0); /* Gradient background for inactive tabs */
  color: #333; /* Dark gray text color for inactive tabs */
  border-radius: 4px 4px 0 0; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  margin-right: 5px; /* Spacing between tabs */
}

.react-tabs__tab--selected {
  background: linear-gradient(135deg, #4CAF50, #45a049) !important; /* Green gradient background for active tab */
  color: white !important; /* White text color for active tab */
  border: 1px solid #ccc;
  border-bottom: 1px solid white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow */
}

.react-tabs__tab:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.tab-content {
  padding: 20px;
  border: 1px solid #ccc;
  border-top: none;
  min-height: 400px; /* Ensures consistent height to avoid content jump */
  max-height: 400px; /* Sets a max height to prevent excessive scrolling */
  overflow-y: auto; /* Adds scroll if content exceeds max height */
  transition: all 0.3s ease-in-out; /* Smooth transition for content */
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-upload-filelist-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.file-upload-container, .file-list-container {
  margin-top: 20px;
  width: 100%; /* Ensure full width for content */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}


/* Container styling similar to the FileList component */
.analysis-container {
  max-width: 100%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* Input form styling */
.input-form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  border-radius: 4px;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.input-form-header {
  margin-bottom: 15px;
  font-size: 1.5em;
  color: #333;
}

.input-group {
  margin-bottom: 10px;
  width: 100%;
}

.input-group label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #555;
  width: 100%;
}

.input-group input,
.input-group select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
  margin-top: 5px;
}

.submit-button {
  padding: 10px 15px;
  font-size: 14px;
  background-color: #6f42c1; /* Purple color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #5a33a5;
}


/* src/components/Analysis.css */
.analysis-container {
  max-width: 100%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.dynamic-form-container {
  margin-top: 20px;
}