.file-list-container {
  max-width: 100%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.add-column {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.add-column input {
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 120px;
  font-size: 12px;
}

.add-column button {
  padding: 3px 6px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

.add-column button:hover {
  background-color: #0056b3;
}

.table-container {
  overflow-x: auto;
}

.react-table {
  width: 100%;
  border-collapse: collapse;
}

.react-table th,
.react-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.react-table th {
  background-color: #f2f2f2;
}

.react-table tr:hover {
  background-color: #f1f1f1;
}

.react-table .delete-button,
.react-table .rename-button {
  padding: 3px 6px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  margin-right: 5px;
}

.react-table .delete-button {
  background-color: #dc3545;
}

.react-table .rename-button {
  background-color: #ffc107;
}

.react-table .delete-button:hover {
  background-color: #c82333;
}

.react-table .rename-button:hover {
  background-color: #e0a800;
}

.react-table input[type="text"] {
  width: 80px;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
}

button {
  cursor: pointer;
}

.metadata-checkbox {
  margin-top: 10px;
}

.files-header {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.metadata-checkbox label {
  font-size: 12px;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.process-button {
  padding: 5px 10px;
  font-size: 12px;
  margin-left: 10px;
  background-color: #6f42c1; /* Purple color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
}

.process-button:hover {
  background-color: #5a33a5;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Ensure dropdown appears above other elements */
  overflow-y: auto; /* Allow scrolling for long content */
  max-height: 400px; /* Set a reasonable max height */
  transition: max-height 0.3s ease;
}

.menu-category {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 12px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.menu-category:hover {
  color: #5a33a5;
}

.submenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.submenu-item {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 12px;
  color: #333;
}

.submenu-item:hover {
  background-color: #eaeaea;
}

.subsubmenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.subsubmenu-item {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 12px;
  color: #333;
}

.subsubmenu-item:hover {
  background-color: #d4d4d4;
}

.selected {
  background-color: #6f42c1 !important;
  color: white !important;
}

.dropdown:hover .dropdown-content {
  display: block;
  max-height: 400px; /* Show on hover with scrolling */
}

.menu-category:hover .submenu,
.submenu-item:hover .subsubmenu {
  max-height: 400px; /* Expand enough to show all submenu items */
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.spinner-container span {
  margin-left: 10px;
}
