body {
  font-family: Arial, sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-filelist-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  gap: 40px; /* Adjust this value to add more space between the components */
}

.file-upload-wrapper {
  border: 1px solid #ccc; /* Add border */
  padding: 20px; /* Add padding inside the border */
  border-radius: 8px; /* Add border radius for rounded corners */
  background-color: #f9f9f9; /* Background color similar to the card */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Similar shadow effect */
  width: 100%;
  max-width: 600px; /* Max width for the upload container */
  margin: 0 auto; /* Center align the container */
}

.file-upload-container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 4px;
  background-color: #f9f9f9;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.file-upload-container h2 {
  margin-bottom: 20px;
  font-size: 20px; /* Smaller font size */
  color: #333;
  text-align: center;
}

.file-upload-container input[type="file"] {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  padding: 8px; /* Smaller padding */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px; /* Smaller font size */
}

.file-upload-container button {
  background-color: #007bff; /* Blue color */
  color: white;
  padding: 8px 15px; /* Smaller padding */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px; /* Smaller font size */
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.file-upload-container button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.file-upload-container p {
  margin-top: 10px;
  font-size: 14px; /* Smaller font size */
  color: #666;
  text-align: center;
}

.file-upload-container div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.file-upload-container progress {
  width: 80%;
  margin-right: 10px;
}

.file-upload-container span {
  font-size: 12px; /* Smaller font size */
  color: #333;
  white-space: nowrap;
}

.download-sample {
  margin-top: 10px; /* Smaller margin */
}

.download-link {
  display: inline-block;
  padding: 8px 12px; /* Smaller padding */
  background-color: #007bff; /* Blue color */
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px; /* Smaller font size */
  transition: background-color 0.3s ease;
}

.download-link:hover {
  background-color: #0056b3;
}
