/* GeneDropdown.css */
/* GeneDropdown.css */

.gene-dropdown-container {
    margin-bottom: 10px; /* Add some space */
    position: relative; /* Make sure it's properly positioned */
    z-index: 10; /* Higher z-index to ensure it is on top */
}

#gene-select {
    display: inline-block; /* Ensure it's displayed inline */
    padding: 5px; /* Add some padding for visibility */
    font-size: 14px; /* Make the text size larger */
    border: 1px solid #ccc; /* Add a border for visibility */
    border-radius: 4px; /* Rounded corners */
}

