/* Add custom styles for the login form */
.App {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0; /* Change the background color as needed */
}

.login-section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color:#8895CD;
    border-radius: 8px;
}

.errmsg {
    color: red;
    background-color: #f0f0f0;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 4px;
}

.offscreen {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 0.5rem;
}

form input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 0.75rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

.line {
    display: inline;
    text-decoration: underline;
    color: #007bff;
}

.line a {
    color: #007bff;
    text-decoration: none;
}

.line a:hover {
    text-decoration: underline;
}

h1 {
    margin-bottom: 1rem;
    text-align: center;
}
