.preprocessing-container {
    padding: 10px;
  }
  
  .preprocessing-container h6 {
    text-align: left;
    margin-bottom: 10px;
  }
  
  .algorithm-details {
    margin-top: 15px;
  }
  
  .dropdown-container {
    display: flex;
    justify-content: flex-start; /* Align items to the start */
    gap: 5px; /* Reduce the gap between dropdowns */
    margin-bottom: 20px; /* Adjust margin to ensure space for dropdown to open */
  }
  
  .dropdown-inline {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-toggle {
    width: auto; /* Adjust width to fit content */
    white-space: normal; /* Allow text to wrap */
    cursor: pointer;
    user-select: none;
    border-radius: 4px;
    text-align: left;
    padding: 5px 10px;
    background-color: inherit; /* Use inherited background color */
    border: 1px solid transparent; /* Remove border */
  }
  
  .dropdown-toggle:hover {
    opacity: 0.8;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: auto; /* Adjust width to fit content */
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    z-index: 1000;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    padding: 5px 0;
  }
  
  .dropdown-menu.show {
    display: block;
  }
  
  .dropdown-item {
    white-space: normal; /* Allow text to wrap */
    font-size: 0.8rem;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background-color: #f1f1f1;
  }
  
  .selected-algorithm {
    margin-top: 5px;
    font-size: 0.8rem;
    color: #555;
  }
  