/* src/Sidebar.css */
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 0.5rem; /* Reduce margin to create a smaller gap between nav items */
  font-size: 0.85rem; /* Make the font size smaller */
}

.navbar-dark .navbar-nav .nav-link:last-child {
  margin-bottom: 0; /* Remove margin from the last item */
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.activeClicked {
  color: #fff;
  background-color: #495057;
  border-radius: 0.25rem;
}

.custom-selection {
  position: relative;
  width: 100%;
}

.custom-selection-toggle {
  color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensure proper alignment */
  margin-bottom: 0.5rem; /* Reduce margin to create a smaller gap between selection toggle and other items */
  font-size: 0.85rem; /* Make the font size smaller */
}

.custom-selection-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #495057; /* Change to a lighter shade */
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  z-index: 1000;
}

.custom-selection:hover .custom-selection-menu {
  display: flex;
}

.custom-selection-menu .nav-link {
  color: rgba(255, 255, 255, 0.75);
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem; /* Reduce margin to create a smaller gap between selection items */
  font-size: 0.85rem; /* Make the font size smaller */
}

.custom-selection-menu .nav-link:last-child {
  margin-bottom: 0; /* Remove margin from the last selection item */
}

.custom-selection-menu .nav-link:hover,
.custom-selection-menu .nav-link.activeClicked {
  color: #fff;
  background-color: #007bff; /* Highlight color */
  border-radius: 0.25rem;
}

.sidebar-wrapper {
  transition: width 0.3s;
  width: 200px; /* Default width for large screens */
  overflow: hidden;
}

.sidebar-wrapper.collapsed {
  width: 60px !important;
}

.sidebar-wrapper.collapsed .sidebar-logo {
  height: 60px;
  width:40px
}

.sidebar-wrapper.collapsed .navbar-nav .nav-link {
  text-align: center;
  padding: 10px;
}

.sidebar-wrapper.collapsed .navbar-nav .nav-link .fa {
  margin-right: 0;
}

.sidebar-wrapper.collapsed .navbar-brand,
.sidebar-wrapper.collapsed .navbar-nav .nav-link span {
  display: none;
}

.sidebar-toggle-button {
  color: #fff !important;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 1050;
}

.custom-selection-menu.collapsed {
  position: static;
}

.activeClicked {
  background-color: #007bff !important;
  color: white !important;
}

.custom-selection-menu.show {
  display: block;
}

@media (max-width: 1200px) {
  .sidebar-wrapper {
    width: 180px;
  }
}

@media (max-width: 768px) {
  .sidebar-wrapper {
    width: 150px;
  }
}

@media (max-width: 576px) {
  .d-flex {
    flex-direction: column;
  }

  .sidebar-wrapper {
    width: 100%;
  }

  .sidebar-content {
    flex-direction: column;
  }
}
