<!-- static/index.html -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'favicon.ico' %}"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="theme-color" content="#000000"/>
    <meta name="description" content="Web site created using create-react-app"/>
    <link rel="apple-touch-icon" href="{% static 'logo192.png' %}"/>
    <link rel="manifest" href="{% static 'manifest.json' %}"/>
    <title>React App</title>
    <script defer="defer" src="{% static 'js/main.a2b4f8da.js' %}"></script>
    <link href="{% static 'css/main.4e5950b2.css' %}" rel="stylesheet">
</head>
<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <!-- <img src="{% static 'images/metabolomics.png' %}" alt="Metabolomics">
    <img src="{% static 'images/singlecell.png' %}" alt="Single Cell"> -->
</body>
</html>
