

.activeClicked {
  font-weight: bold;
  color: #fff !important; /* Adjust as needed */
  background-color: #495057; /* Adjust as needed */
  border-radius: 0.25rem; /* Rounded corners */
}

/* Ensure the main content takes full height */
html, body, #root {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  height: 100%;
}


.flexGrow {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}